@{
    ViewData["Title"] = "Desenvolvedores";
}
<h1>@ViewData["Title"]</h1>

<style>
    .dev-card {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 20px;
    }
</style>

<div class="row">
    <div class="col-md-4">
        <div class="dev-card">
            <h2>Gabriel Siqueira Rodrigues</h2>
            <p>RM: 98626</p>
            <p>Turma: 2TDSPF</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="dev-card">
            <h2>Gustavo de Oliveira Azevedo</h2>
            <p>RM: 550548</p>
            <p>Turma: 2TDSPF</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="dev-card">
            <h2>Isabella Jorge Ferreira</h2>
            <p>RM: 552329</p>
            <p>Turma: 2TDSPG</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="dev-card">
            <h2>Mateus Mantovani Araújo</h2>
            <p>RM: 98524</p>
            <p>Turma: 2TDSPF</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="dev-card">
            <h2>Juan de Godoy</h2>
            <p>RM: 551408</p>
            <p>Turma: 2TDSPF</p>
        </div>
    </div>
</div>
