<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GlobalSolution_.NET</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GlobalSolution_.NET.styles.css" asp-append-version="true" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-very-dark-blue">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 bg-dark-blue">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <svg width="95" height="19" viewBox="0 0 95 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.20689 18.6681C2.87471 18.6681 1.84052 18.3175 1.10431 17.6164C0.368103 16.9152 0 15.9336 0 14.6715V4.15431C0 2.9273 0.350574 1.97198 1.05172 1.28836C1.7704 0.604741 2.76077 0.262931 4.02284 0.262931H12.2C12.7259 0.262931 13.129 0.385632 13.4095 0.631034C13.6899 0.858907 13.8302 1.19195 13.8302 1.63017C13.8302 2.05086 13.6812 2.38391 13.3832 2.62931C13.1027 2.85718 12.7083 2.97112 12.2 2.97112H4.62758C4.27701 2.97112 3.99655 3.08506 3.7862 3.31293C3.59339 3.5408 3.49698 3.85632 3.49698 4.25948V7.91422H10.2017C10.7276 7.91422 11.1307 8.03692 11.4112 8.28232C11.6917 8.5102 11.8319 8.84324 11.8319 9.28146C11.8319 9.70215 11.6829 10.0352 11.3849 10.2806C11.1044 10.5085 10.7101 10.6224 10.2017 10.6224H3.49698V14.6715C3.49698 15.0747 3.59339 15.3902 3.7862 15.6181C3.99655 15.846 4.27701 15.9599 4.62758 15.9599H12.7784C13.3043 15.9599 13.7075 16.0826 13.9879 16.328C14.2684 16.5559 14.4086 16.8889 14.4086 17.3271C14.4086 17.7478 14.2596 18.0809 13.9616 18.3263C13.6812 18.5542 13.2868 18.6681 12.7784 18.6681H4.20689Z" fill="white" />
                        <path d="M22.8084 18.931C20.4596 18.931 18.6366 18.3438 17.3395 17.1694C16.0423 15.9774 15.3938 14.321 15.3938 12.2C15.3938 10.079 16.0423 8.44008 17.3395 7.28319C18.6366 6.10876 20.4596 5.52155 22.8084 5.52155C24.053 5.52155 25.1748 5.73189 26.1739 6.15258C27.1906 6.55574 27.9882 7.13419 28.5666 7.88793C28.777 8.15086 28.8821 8.43132 28.8821 8.72931C28.8821 9.18505 28.6455 9.58821 28.1722 9.93879C27.9619 10.0965 27.6989 10.1754 27.3834 10.1754C27.138 10.1754 26.8839 10.1228 26.6209 10.0177C26.358 9.89497 26.1301 9.72844 25.9373 9.5181C25.5867 9.11494 25.131 8.80818 24.5701 8.59784C24.0267 8.36997 23.4395 8.25603 22.8084 8.25603C21.5639 8.25603 20.591 8.60661 19.8899 9.30775C19.2063 9.99137 18.8645 10.9555 18.8645 12.2C18.8645 13.4796 19.2063 14.47 19.8899 15.1711C20.591 15.8547 21.5639 16.1965 22.8084 16.1965C24.1932 16.1965 25.3764 15.732 26.358 14.803C26.8488 14.3122 27.3308 14.0668 27.8041 14.0668C28.1196 14.0668 28.4089 14.172 28.6718 14.3823C29.0925 14.7154 29.3028 15.1185 29.3028 15.5918C29.3028 15.8898 29.1801 16.179 28.9347 16.4595C28.1284 17.3184 27.2257 17.9494 26.2265 18.3526C25.2449 18.7382 24.1056 18.931 22.8084 18.931Z" fill="white" />
                        <path d="M39.0204 18.931C37.4954 18.931 36.1369 18.6593 34.945 18.1159C33.7705 17.555 32.8503 16.7662 32.1842 15.7496C31.5181 14.7329 31.185 13.5585 31.185 12.2263C31.185 10.8941 31.5181 9.71968 32.1842 8.70301C32.8503 7.68635 33.7705 6.90632 34.945 6.36293C36.1369 5.80201 37.4954 5.52155 39.0204 5.52155C40.5454 5.52155 41.8951 5.80201 43.0695 6.36293C44.2615 6.90632 45.1905 7.68635 45.8566 8.70301C46.5227 9.71968 46.8557 10.8941 46.8557 12.2263C46.8557 13.5585 46.5227 14.7329 45.8566 15.7496C45.1905 16.7662 44.2615 17.555 43.0695 18.1159C41.8951 18.6593 40.5454 18.931 39.0204 18.931ZM39.0204 16.1965C40.3701 16.1965 41.4306 15.846 42.2018 15.1448C42.9906 14.4437 43.385 13.4708 43.385 12.2263C43.385 10.9817 42.9906 10.0089 42.2018 9.30775C41.4306 8.60661 40.3701 8.25603 39.0204 8.25603C37.6707 8.25603 36.6014 8.60661 35.8126 9.30775C35.0414 10.0089 34.6557 10.9817 34.6557 12.2263C34.6557 13.4708 35.0414 14.4437 35.8126 15.1448C36.6014 15.846 37.6707 16.1965 39.0204 16.1965Z" fill="white" />
                        <path d="M50.8777 18.931C50.3519 18.931 49.9312 18.7908 49.6157 18.5103C49.3002 18.2299 49.1424 17.8442 49.1424 17.3534V7.44094C49.1424 5.10962 49.8698 3.28664 51.3247 1.97198C52.7796 0.657327 54.7954 0 57.3721 0C59.9489 0 61.9647 0.657327 63.4195 1.97198C64.8744 3.28664 65.6019 5.10962 65.6019 7.44094V17.3534C65.6019 17.8442 65.4441 18.2299 65.1286 18.5103C64.8131 18.7908 64.3924 18.931 63.8665 18.931C63.3407 18.931 62.9112 18.7908 62.5782 18.5103C62.2626 18.2123 62.1049 17.8267 62.1049 17.3534V7.36207C62.1049 5.87212 61.7017 4.73276 60.8954 3.94396C60.0891 3.15517 58.9147 2.76077 57.3721 2.76077C55.8296 2.76077 54.6552 3.15517 53.8489 3.94396C53.0425 4.73276 52.6394 5.87212 52.6394 7.36207V17.3534C52.6394 17.8267 52.4729 18.2123 52.1398 18.5103C51.8243 18.7908 51.4036 18.931 50.8777 18.931Z" fill="white" />
                        <path d="M75.3182 18.931C73.8107 18.931 72.4961 18.6593 71.3742 18.1159C70.2524 17.5725 69.3847 16.81 68.7712 15.8284C68.1752 14.8293 67.8773 13.6636 67.8773 12.3315C67.8773 10.1754 68.4995 8.50143 69.7441 7.30948C71.0061 6.11753 72.7765 5.52155 75.0553 5.52155C76.4576 5.52155 77.6933 5.74066 78.7626 6.17888C79.8494 6.61709 80.6908 7.2306 81.2867 8.01939C81.9002 8.79066 82.207 9.67586 82.207 10.675C82.207 11.5164 81.9353 12.1649 81.3919 12.6207C80.866 13.0764 80.1123 13.3043 79.1307 13.3043H71.2165C71.2165 14.2859 71.5583 15.0309 72.2419 15.5392C72.9431 16.03 73.9685 16.2754 75.3182 16.2754C76.738 16.2754 77.9475 15.9599 78.9466 15.3289C79.5076 14.9783 79.9458 14.803 80.2613 14.803C80.5593 14.803 80.8485 14.9432 81.129 15.2237C81.427 15.5217 81.576 15.846 81.576 16.1965C81.576 16.6172 81.4007 16.9503 81.0501 17.1957C80.3139 17.7566 79.455 18.1861 78.4734 18.484C77.4918 18.782 76.44 18.931 75.3182 18.931ZM78.079 10.8853C78.377 10.8853 78.5873 10.8328 78.71 10.7276C78.8327 10.6049 78.8941 10.4121 78.8941 10.1491C78.8941 9.53563 78.5435 9.05359 77.8423 8.70301C77.1587 8.35244 76.2297 8.17715 75.0553 8.17715C73.8808 8.17715 72.9518 8.42255 72.2682 8.91336C71.6021 9.40416 71.2691 10.0615 71.2691 10.8853H78.079Z" fill="white" />
                        <path d="M94.4279 15.2763C94.7084 15.5042 94.8486 15.7846 94.8486 16.1177C94.8486 16.4507 94.7259 16.7925 94.4805 17.1431C94.0949 17.704 93.5515 18.1422 92.8503 18.4578C92.1492 18.7733 91.3604 18.931 90.484 18.931C89.0817 18.931 87.9774 18.5542 87.171 17.8004C86.3822 17.0292 85.9878 15.9774 85.9878 14.6453V8.49267H84.9098C84.384 8.49267 83.9633 8.36997 83.6478 8.12457C83.3323 7.87916 83.1745 7.55488 83.1745 7.15172C83.1745 6.73103 83.3235 6.39799 83.6215 6.15258C83.937 5.90718 84.3664 5.78448 84.9098 5.78448H85.9878V1.81422C85.9878 1.32342 86.1456 0.937787 86.4611 0.657327C86.7766 0.376867 87.1973 0.236638 87.7232 0.236638C88.2666 0.236638 88.6873 0.376867 88.9853 0.657327C89.2832 0.937787 89.4322 1.32342 89.4322 1.81422V5.78448H91.9564C92.4998 5.78448 92.9205 5.90718 93.2184 6.15258C93.534 6.39799 93.6917 6.73103 93.6917 7.15172C93.6917 7.55488 93.534 7.87916 93.2184 8.12457C92.9205 8.36997 92.4998 8.49267 91.9564 8.49267H89.4322V14.9345C89.4322 15.3201 89.5462 15.6269 89.7741 15.8547C90.0195 16.0826 90.3437 16.1965 90.7469 16.1965C91.0624 16.1965 91.3341 16.1527 91.562 16.0651C91.8074 15.9599 92.0528 15.7934 92.2982 15.5655C92.7539 15.1273 93.1746 14.9082 93.5603 14.9082C93.8407 14.9082 94.1299 15.0309 94.4279 15.2763Z" fill="white" />
                    </svg>

                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Coordenadas" asp-action="Index">Coordenadas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Tiporisco" asp-action="Index">Tiporisco</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Especie" asp-action="Index">Especie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Deteccao" asp-action="Index">Deteccao</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Coordenadas" asp-action="Create">Cadastrar novo</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark-blue fixed-bottom p-3">
        <div class="container">
            &copy; 2024 - EcoNet - <a asp-area="" asp-controller="Home" asp-action="Devs">Devs</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
